cmake-projects/smp/share/ecss/schemas/Smdl/Schedule.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.ecss.nl/smp/2019/Smdl/Schedule" xmlns:Assembly="http://www.ecss.nl/smp/2019/Smdl/Assembly" xmlns:Schedule="http://www.ecss.nl/smp/2019/Smdl/Schedule" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:documentRoot="ScheduleDocumentRoot" ecore:nsPrefix="Schedule" ecore:package="Schedule" elementFormDefault="unqualified" targetNamespace="http://www.ecss.nl/smp/2019/Smdl/Schedule">
  <xsd:annotation>
    <xsd:documentation>This schema defines all metamodel elements that are needed in order to define how the model instances in an assembly are to be scheduled. This includes mechanisms for tasks and events.</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.w3.org/1999/xlink">
    <xsd:annotation>
      <xsd:documentation>Schema for the W3C XML Linking Language (XLink).</xsd:documentation>
    </xsd:annotation>
  </xsd:import>
  <xsd:import namespace="http://www.ecss.nl/smp/2019/Smdl/Assembly">
    <xsd:annotation>
      <xsd:documentation>This schema defines all metamodel elements that are needed in order to define an assembly of model instances. This includes mechanisms for creating links between model instances, namely between references and implemented interfaces, between event sources and event sinks, and between output and input fields.</xsd:documentation>
    </xsd:annotation>
  </xsd:import>
  <xsd:element name="Schedule" type="Schedule:Schedule">
    <xsd:annotation>
      <xsd:documentation>The Schedule element (of type Schedule) is the root element of an SMDL schedule.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="TimeKind">
    <xsd:annotation>
      <xsd:documentation>This enumeration defines the four SMP time formats.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SimulationTime">
        <xsd:annotation>
          <xsd:documentation>Simulation Time starts at 0 when the simulation is kicked off. It progresses while the simulation is in Executing state.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="EpochTime">
        <xsd:annotation>
          <xsd:documentation>Epoch Time is an absolute time and typically progresses with simulation time. The offset between epoch time and simulation time may get changed during a simulation.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ZuluTime">
        <xsd:annotation>
          <xsd:documentation>Zulu Time is the computer clock time, also called wall clock time. It progresses whether the simulation is in Executing or Standby state, and is not necessarily related to simulation, epoch or mission time.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MissionTime">
        <xsd:annotation>
          <xsd:documentation>Mission Time is a relative time (duration from some start time) and progresses with epoch time.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Schedule">
    <xsd:annotation>
      <xsd:documentation>A Schedule is a Document that holds an arbitrary number of tasks (Task elements) and events (Event elements) triggering these tasks. Additionally, it may specify the origins of epoch time and mission time via its EpochTime and MissionStart elements, respectively. These values are used to initialise epoch time and mission time via the SetEpochTime() and SetMissionStart() methods of the TimeKeeper service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Elements:Document">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="EpochTime" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>The origin of the schedule's EpochTime. This is typically used to initialise epoch time in the TimeKeeper via the SetEpochTime() operation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MissionStart" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>The origin of the schedule's MissionTime. This is typically used to initialise mission time in the TimeKeeper via the SetMissionStart() operation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Task" type="Schedule:Task">
            <xsd:annotation>
              <xsd:documentation>Collection of tasks of the schedule.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Event" type="Schedule:Event">
            <xsd:annotation>
              <xsd:documentation>Collection of events of the schedule.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Task">
    <xsd:annotation>
      <xsd:documentation>A Task is a container of activities. The order of activities defines in which order the entry points referenced by the Activity elements are called.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Elements:NamedElement">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Activity" type="Schedule:Activity">
            <xsd:annotation>
              <xsd:documentation>Collection of activities of the task.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Trigger">
    <xsd:annotation>
      <xsd:documentation>A Trigger selects an EntryPoint defined in the corresponding Model of a Catalogue from a Provider instance defined in an Assembly.
In order to allow a schedule to be interpreted without the associated catalogue, the xlink:title attribute of the EntryPoint link shall contain the name of the entry point.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule:Activity">
        <xsd:sequence>
          <xsd:element name="Provider">
            <xsd:annotation>
              <xsd:documentation>Provider of the entry point.</xsd:documentation>
              <xsd:documentation>Link destination type: Assembly:InstanceNode</xsd:documentation>
              <xsd:appinfo source="http://www.w3.org/1999/xlink">Assembly:InstanceNode</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType ecore:name="ProviderOfTrigger">
              <xsd:attribute fixed="simple" ref="xlink:type" use="prohibited"/>
              <xsd:attribute ecore:name="Provider" ecore:reference="Assembly:InstanceNode" ref="xlink:href" use="required"/>
              <xsd:attribute ecore:name="ProviderName" ref="xlink:title" use="optional"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="EntryPoint">
            <xsd:annotation>
              <xsd:documentation>Entry point to execute.</xsd:documentation>
              <xsd:documentation>Link destination type: Catalogue:EntryPoint</xsd:documentation>
              <xsd:appinfo source="http://www.w3.org/1999/xlink">Catalogue:EntryPoint</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType ecore:name="EntryPointOfTrigger">
              <xsd:attribute fixed="simple" ref="xlink:type" use="prohibited"/>
              <xsd:attribute ecore:name="EntryPoint" ecore:reference="Catalogue:EntryPoint" ref="xlink:href" use="required"/>
              <xsd:attribute ecore:name="EntryPointName" ref="xlink:title" use="optional"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubTask">
    <xsd:annotation>
      <xsd:documentation>A SubTask references another Task in a Schedule, to initiate all activities defined in it.
Circular references between tasks are not allowed.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule:Activity">
        <xsd:sequence>
          <xsd:element name="Task">
            <xsd:annotation>
              <xsd:documentation>Reference to the task.</xsd:documentation>
              <xsd:documentation>Link destination type: Schedule:Task</xsd:documentation>
              <xsd:appinfo source="http://www.w3.org/1999/xlink">Schedule:Task</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType ecore:name="TaskOfSubTask">
              <xsd:attribute fixed="simple" ref="xlink:type" use="prohibited"/>
              <xsd:attribute ecore:name="Task" ecore:reference="Schedule:Task" ref="xlink:href" use="required"/>
              <xsd:attribute ecore:name="TaskName" ref="xlink:title" use="optional"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Transfer">
    <xsd:annotation>
      <xsd:documentation>A Transfer selects a FieldLink defined in an Assembly, to initiate its execution to transfer data from the source to the target.
The transformation specified by the Field Link is performed during the transfer of the associated field value.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule:Activity">
        <xsd:sequence>
          <xsd:element name="FieldLink">
            <xsd:annotation>
              <xsd:documentation>Field link to trigger for a transfer.</xsd:documentation>
              <xsd:documentation>Link destination type: Assembly:FieldLink</xsd:documentation>
              <xsd:appinfo source="http://www.w3.org/1999/xlink">Assembly:FieldLink</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType ecore:name="FieldLinkOfTransfer">
              <xsd:attribute fixed="simple" ref="xlink:type" use="prohibited"/>
              <xsd:attribute ecore:name="FieldLink" ecore:reference="Assembly:FieldLink" ref="xlink:href" use="required"/>
              <xsd:attribute ecore:name="FieldLinkName" ref="xlink:title" use="optional"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Activity">
    <xsd:annotation>
      <xsd:documentation>An Activity is the abstract base class for the three different activities that can be contained in a Task.
&lt;ul&gt;
&lt;li&gt;A Trigger allows to execute an EntryPoint.&lt;/li&gt;
&lt;li&gt;A Transfer allows to initiate a data transfer as defined in a FieldLink.&lt;/li&gt;
&lt;li&gt;A SubTask allows to execute all activities defined in another Task.&lt;/li&gt;
&lt;/ul&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Elements:NamedElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MissionEvent">
    <xsd:annotation>
      <xsd:documentation>A MissionEvent is derived from Event and adds a MissionTime attribute.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule:Event">
        <xsd:attribute name="MissionTime" type="xsd:duration" use="required">
          <xsd:annotation>
            <xsd:documentation>Mission time when to execute the event (for the first time).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ZuluEvent">
    <xsd:annotation>
      <xsd:documentation>A ZuluEvent is derived from Event and adds a ZuluTime attribute.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule:Event">
        <xsd:attribute name="ZuluTime" type="xsd:dateTime" use="required">
          <xsd:annotation>
            <xsd:documentation>Zulu time when to execute the event (for the first time).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EpochEvent">
    <xsd:annotation>
      <xsd:documentation>An EpochEvent is derived from Event and adds an EpochTime attribute.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule:Event">
        <xsd:attribute name="EpochTime" type="xsd:dateTime" use="required">
          <xsd:annotation>
            <xsd:documentation>Epoch time when to execute the event (for the first time).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SimulationEvent">
    <xsd:annotation>
      <xsd:documentation>A SimulationEvent is derived from Event and adds a SimulationTime attribute.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule:Event">
        <xsd:attribute name="SimulationTime" type="xsd:duration" use="required">
          <xsd:annotation>
            <xsd:documentation>Simulation time when to execute the event (for the first time).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Event">
    <xsd:annotation>
      <xsd:documentation>An Event defines a point in time when to execute a collection of tasks. Such a scheduled event can either be called only once, or it may be repeated using a given cycle time. While the first type of event is called a single event or timed event, repeated events are called cyclic.
The Repeat attribute defines how often an event shall be repeated.
&lt;ul&gt;
&lt;li&gt;An event with Repeat=0 will not be repeated, so it will be only called once. This is a single event.&lt;/li&gt;
&lt;li&gt;An event with Repeat&gt;0 will be called Repeat+1 times, so it is cyclic.&lt;/li&gt;
&lt;li&gt;Finally, a value of Repeat=-1 indicates that an event shall be called forever (unlimited number of repeats). For a cyclic event, the CycleTime needs to specify a positive Duration between two consecutive executions of the event.&lt;/li&gt;
&lt;/ul&gt;
Four different time formats are supported to define the time of the (first) execution of the event (see TimeKind). For each of these four time kinds, a dedicated metaclass derived from Event is defined. These are required because relative times (simulation and mission times) are specified using a Duration, while absolute times (epoch and Zulu times) are specified using a DateTime.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Elements:NamedElement">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Task">
            <xsd:annotation>
              <xsd:documentation>Collection of tasks of the event.</xsd:documentation>
              <xsd:documentation>Link destination type: Schedule:Task</xsd:documentation>
              <xsd:appinfo source="http://www.w3.org/1999/xlink">Schedule:Task</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType ecore:name="TaskOfEvent">
              <xsd:attribute fixed="simple" ref="xlink:type" use="prohibited"/>
              <xsd:attribute ecore:name="Task" ecore:reference="Schedule:Task" ref="xlink:href" use="required"/>
              <xsd:attribute ecore:name="TaskName" ref="xlink:title" use="optional"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="CycleTime" type="xsd:duration" use="required">
          <xsd:annotation>
            <xsd:documentation>Cycle time for the event.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="-1" name="Repeat" type="xsd:long" use="optional">
          <xsd:annotation>
            <xsd:documentation>Number of repeats of the event, or -1 for infinity.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
